html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

/* Nav */
nav {
  background-color: #111;
  color: white;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

.searchInput::placeholder {
  color: lightgray;
}

.searchInput:focus {
  outline: none;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  margin-bottom: 0px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

/* Slider */
.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderImg {
  z-index: 1;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  color: white;
  text-align: center;
  z-index: 1;
}

.sliderPrice {
  margin: 0px;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton {
  background-color: black;
  color: white;
  position: absolute;
  right: 10%;
  top: 50%;
  font-size: 30px;
  font-weight: 900;
  border: 1px solid gray;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}

/* <!-- Features --> */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

/* Product */
.product {
  background-color: whitesmoke;
  height: 100vh;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  width: 40%;
  top: 10%;
  right: 0;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productPrice {
}

.productDesc {
  font-size: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.color:nth-child(2) {
  background-color: darkblue;
}

.size {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;

  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.productButton:hover {
  background-color: white;
  color: black;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8a8a8ab3;
  height: 100vh;
  visibility: hidden;
}

.payment {
  background-color: white;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;

  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);

  visibility: hidden;
}

.payTitle {
  font-size: 20px;
  color: rgb(168, 168, 168);
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
}

.payInput::placeholder {
  color: rgb(168, 168, 168);
}

.payInput:focus {
  outline: none;
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.payInput.sm {
  width: 25%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: gray;
  color: white;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.gallery {
  display: flex;
  padding: 50px;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

/* NewSeason */
.newSaeson {
  display: flex;
  background-color: black;
  color: white;
}

.nsItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 480px) {
  /* Nav */
  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  /* Slider */
  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .sliderBg {
    width: 100%;
    height: 100%;
  }

  .sliderTitle {
    display: none;
  }

  .sliderPrice {
    margin: 0;
    background-color: lightgray;
    font-size: 40px;
    left: 0;
    bottom: 0;
    top: auto;
  }

  .buyButton {
    right: 0;
    top: 0;
  }

  /* Features */
  .features {
    padding: 20px;
    flex-direction: column;
  }

  /* Product */
  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .productDetails {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle {
    font-size: 50px;
    margin: 0%;
  }

  /* Gallery */
  .gallery {
    display: none;
  }

  /* NewSeanson */
  .newSaeson {
    flex-direction: column;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    height: 80vh;
  }

  .footerLeft {
    padding: 20px;
    flex: 0;
  }

  .footerRight {
    padding: 20px;
    padding-top: 0px;
    flex: 0;
    display: block;
    background-color: white;
  }

  .fMenuTitle {
    margin: 15px 0px;
  }

  .footerRightMenu:nth-child(3) {
    margin-top: 15px;
  }

  /* Modal */
  .modal {
    visibility: visible;
    z-index: 1;
  }

  .payment {
    visibility: visible;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    margin-top: 30px;
  }
}
